<div class="card">
  <mat-card class="task">
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="create()">
          <p>
            <mat-form-field>
                <label for="user">
                    Usuario
                </label>
              <input
                type="number"
                matInput
                formControlName="user_id"
                [(ngModel)]="task.user_id"
              />
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
                <label for="title">
                    Título
                </label>
              <input
                name="title"
                type="text"
                matInput
                formControlName="title"
                [(ngModel)]="task.title"
              />
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
                <label for="due_on">
                    Fecha Límite
                </label>
              <input
                name="due_on"
                type="date"
                matInput
                formControlName="due_on"
                [(ngModel)]="task.due_on"
              />
            </mat-form-field>
          </p>
            <mat-form-field>
                <label for="status">
                    Estado
                </label>
              <input
                name="status"
                type="text"
                matInput
                formControlName="status"
                [(ngModel)]="task.status"
              />
            </mat-form-field>
          <p *ngIf="error" class="error">
            {{ error }}
          </p>

          <div class="button">
            <button id="create" mat-raised-button color="primary" type="submit" mat-button>Crear Tarea</button>
          </div>
        </form>
      </mat-card-content>
  </mat-card>
</div>