
  :host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }
  
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }
  
  
  .button {
    display: flex;
    justify-content: flex-end;
  }

  input {
      border: 1px solid black;
      padding: 8px;
      border-radius: 10px;
      max-width: 275px;
  }