<mat-toolbar>
  <span [routerLink]="['/home']">Proyecto Final Testing</span>
  <div>
    <img src="https://img.icons8.com/office/30/000000/star-trek-symbol.png" />
    <p class="text">Realizado por Luz Divina Delgado Castañeda</p>
  </div>

  <div class="nav">
    <a [routerLink]="['/']">Lista de Tareas</a>
    
  </div>
</mat-toolbar>

<!-- ? El router outlet se sustituye por lo que diga el routing module dependiendo de la ruta/url cargada-->
<router-outlet></router-outlet>
