.card {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
    flex-wrap: wrap;
  }
.tasks {
    min-width: 400px;
    flex: 1;
    margin: 15px 8px 0 8px;
  }

.button{
  margin-top: 30px;
  padding: 0 40px;
}