<div class="button">
  <button mat-raised-button color="primary" [routerLink]="['/tasks/create']">Crear Tarea</button>
</div>

<div class="card">
  <mat-card class="tasks" *ngFor="let task of tasks; let i = index">
    <mat-card-title-group>
      <mat-card-title>{{ task.title }}</mat-card-title>
    </mat-card-title-group>
      <mat-card-content>
        <h3><b>User:</b> {{ task.user_id }}</h3>
        <h4 *ngIf="task.due_on">Fecha Límite: {{ task.due_on | date: "dd-MM-yyyy"}}</h4>
        <h4>Estado: {{ task.status }}</h4>
      </mat-card-content>
    
    <mat-card-actions>
      <!-- <button mat-button [routerLink]="['/', task.id]">
        Ir a detalle
      </button> -->
      <button id="delete" mat-raised-button color="warn" (click)="delete(task.id)">Borrar</button>
    </mat-card-actions>
  </mat-card>
</div>


